(edif controller
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 7 12 53 56)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "G-2012.09M-SP1 , mapper mapact, Build 904R"))
     )
   )
  (library smartfusion
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell controller (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port MSS_RESET_N (direction INPUT))
           (port contRead (direction INPUT))
           (port contCLK (direction OUTPUT))
           (port contWrite (direction OUTPUT))
         )
         (contents
          (instance contWrite_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance contCLK_pad (viewRef prim (cellRef OUTBUF (libraryRef smartfusion)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef smartfusion)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef smartfusion)))          )
          (net MSS_RESET_N (joined
           (portRef MSS_RESET_N)
          ))
          (net contRead (joined
           (portRef contRead)
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef D (instanceRef contCLK_pad))
          ))
          (net contCLK (joined
           (portRef PAD (instanceRef contCLK_pad))
           (portRef contCLK)
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef contWrite_pad))
          ))
          (net contWrite (joined
           (portRef PAD (instanceRef contWrite_pad))
           (portRef contWrite)
          ))
         )
        (property orig_inst_of (string "controller"))
       )
    )
  )
  (design controller (cellRef controller (libraryRef work)))
)
